@model CozyHotels.Models.Car
@{
    ViewBag.Title = "Add new Car";
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<form method="post">
    <span asp-validation-summary="ModelOnly"></span>
    @if (@ViewBag.AddCar != null)
    {
        <div>@ViewBag.AddCar</div>
    }
    <div>
        <select asp-for="CarTypeId" asp-items="ViewBag.CarTypes"></select>
        <span asp-validation-for="CarTypeId"></span>
    </div>
    <div>
        <input asp-for="RegistrationNumber" placeholder="Registration Number"/>
        <span asp-validation-for="RegistrationNumber"></span>
    </div>
    <div>
        <input type="submit" value="Add"/>
    </div>
</form>

<div><a asp-controller="Admin" asp-action="GetCars">List of Cars</a></div>
