@model CozyHotels.ViewModels.AdminGetCustomerOrdersViewModel
@{ 
    ViewBag.Title = "Customer Orders";
}

<h5>Room Orders</h5>

@if (Model.RoomOrders().Count() > 0)
{
    <table>
        <tr>
            <th></th>
        </tr>
        @foreach (var item in Model.RoomOrders())
        {
        <tr>
            <td>@item.DateOfArrival</td>
            <td>@item.Room.RoomName</td>
            <td>@item.DateOfDeperture</td>
            <td></td>
        </tr>
        }
    </table>
}
else
{
        <div>No Orders</div>
    }