<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Cozy Hotels</title>
    <link rel="stylesheet" href="~/lib/tether/dist/css/tether.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("styles", false)
</head>
<body>
        <header><h1 class="ml-3 mt-2">Cozy Hotels</h1></header>
        <nav class="navbar nav-light">
            <div class="ml-2">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link outline h5" id="homeLink" asp-Controller="App" asp-Action="Index">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link outline h5 dropdown-toggle" asp-Controller="App" asp-Action="Services" id="servicesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                            <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                                <a class="dropdown-item" asp-Controller="Service" asp-Action="GetRoom">Get Room</a>
                                <a class="dropdown-item" asp-Controller="Service" asp-Action="RestuarantAndBar">Resturant and Bar</a>
                                <a class="dropdown-item" asp-Controller="Service" asp-Action="DishesAndDrinks">Dishes and Drinks</a>
                                <a class="dropdown-item" asp-Controller="Service" asp-Action="GetCab">Need a Car?</a>
                                <a class="dropdown-item" asp-Controller="Service" asp-Action="Events">Events</a>
                                <a class="dropdown-item" asp-Controller="Service" asp-Action="SpaAndFitness">Spa and Fitness</a>
                                <a class="dropdown-item" asp-Controller="Service" asp-Action="Entertainment">Entertainment</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link outline h5" id="servicesLink" asp-Controller="App" asp-Action="Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link outline h5" id="aboutLink" asp-Controller="App" asp-Action="About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link outline h5" id="supportLink" asp-Controller="App" asp-Action="Support">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link outline h5" id="careersLink" asp-Controller="App" asp-Action="Careers">Careers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    @RenderBody();

    <footer class="footer">

        <div class="navbar navbar-light navbar-fixed-bottom">
            <h4 class="text-xs-center text-center"> 2016&copy;Cozy Hotels</h4>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/lib/tether/dist/js/tether.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
    <script type="~/text/javascript" src="~/js/site.js"></script>
</body>
</html>