@model CozyHotels.Models.OrderCab

@{
    ViewBag.Title = "Get Cab";
}

@section styles{
}

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<form method="post">
    <span asp-validation-summary="ModelOnly"></span>

    @if (ViewBag.GetCab != null)
    {
        <div>@ViewBag.GetCab</div>
    }


    <div>
        <input asp-for="CustomerEmail" placeholder="Email" />
        <span asp-validation-for="CustomerEmail"></span>
    </div>
    <div>
        <input asp-for="Password" placeholder="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input asp-for="DateOfOrder" placeholder="Date of Order" />
        <span asp-validation-for="DateOfOrder"></span>
    </div>

    <div>
        <input asp-for="DateOfReturn" placeholder="Date of Return" />
        <span asp-validation-for="DateOfReturn"></span>
    </div>

    <div>
        <select asp-for="CarTypeId" asp-items="ViewBag.Cars"></select>
        <span asp-validation-for="CarTypeId"></span>
    </div>

    <div>
        <input type="submit" value="Send" />
    </div>
</form>