@model CozyHotels.ViewModels.ServiceGetRoomViewModel

@{ 
    ViewBag.Title = "Get Room";
}



@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }

<form method="post">
    <span asp-validation-summary="ModelOnly"></span>
    @if (ViewBag.RoomRequestStatus != null)
    {
        <div>@ViewBag.RoomRequestStatus</div>
    }
    <div>
        <input asp-for=@Model.Customer.FirstName placeholder="First Name" />
        <span asp-validation-for=@Model.Customer.FirstName></span>
    </div>
    <div>
        <input asp-for=@Model.Customer.LastName placeholder="Last Name" />
        <span asp-validation-for=@Model.Customer.LastName></span>
    </div>
    <div>
        <input asp-for=@Model.Customer.Phone placeholder="Phone" />
    </div>
    <div>
        <input asp-for=@Model.Customer.Email placeholder="Email" />
        <span asp-validation-for=@Model.Customer.Email></span>
    </div>
    <div>
        <input asp-for=@Model.OrderRoom.DateOfArrival placeholder="Date" />
        <span asp-validation-for=@Model.OrderRoom.DateOfArrival></span>
        
    </div>
    <div>
        <select asp-for=@Model.OrderRoom.RoomType asp-items = "Model.Rooms()">
            
        </select>
        <span asp-validation-for=@Model.OrderRoom.RoomType></span>
    </div>
    <div>
        <input asp-for=@Model.Customer.Password placeholder="Password" />
        <span asp-validation-for=@Model.Customer.Password></span>
    </div>
    <div>
        <input type="password" id="ConfirmPassword" placeholder="Confirm Password" />
        <span id="ConfirmPasswordValidation"></span>
    </div>
    <div>
        <input asp-for=@Model.Customer.Age type="checkbox" value="true" />I am 21+ years old.
        <span asp-validation-for=@Model.Customer.Age></span>
    </div>
    <div>
        <input asp-for=@Model.OrderRoom.TermsAndConditions type="checkbox" value="true" />I understand, I need to bring an Id.
        <span asp-validation-for=@Model.OrderRoom.TermsAndConditions></span>
    </div>
    <div>
        <input type="submit" value="Send" />
    </div>
</form>